<div class="nav-bar">
    <div class="nav-bar-menu">
        <i class='bx bx-menu bx-sm'></i>
    </div>
    <div class="nav-bar-logo">
        <h2><a routerLink="/product">LOGO</a></h2>
    </div>
    <div class="nav-bar-cart">
        <i class='bx bx-cart bx-sm'></i>
    </div>
</div>
<div class="header">
    <h1 class="collection-header">New collection for Spring 2023</h1>
</div>
<div class="btn-container">
    <h3 class="btn">Acessories</h3>
    <h3 class="btn">Bags</h3>
    <h3 class="btn">Clothes</h3>
    <h3 class="btn">Makeup</h3>
</div>

<div class="product-list-container">
    <div class="product-list">
            <img class="product-alt-img"
            src="https://ik.imagekit.io/ms08rtwspk/NestJs___Angular/asessories-logo-removebg-preview.png?updatedAt=1682602807388"
            alt="">
        <h5 class="product-list-text">Acessories</h5>
        <!-- <img src="https://ik.imagekit.io/ms08rtwspk/NestJs___Angular/bag-logo-removebg-preview.png?updatedAt=1682600684073" alt=""> -->
        </div>
    <div class="product-list">
        <img class="product-min-img"
            src="https://ik.imagekit.io/ms08rtwspk/NestJs___Angular/bag-logo-removebg-preview_1_.png?updatedAt=1682600684184"
            alt="">
        <h5 class="product-list-text">Bags</h5>
    </div>
    <div class="product-list">
        <img class="product-alt-img"
            src="https://ik.imagekit.io/ms08rtwspk/NestJs___Angular/dress-logo-removebg-preview.png?updatedAt=1682600674937"
            alt="">
        <h5 class="product-list-text">Clothes</h5>
    </div>
    <div class="product-list">
        <img class="product-min-img"
            src="https://ik.imagekit.io/ms08rtwspk/NestJs___Angular/cosmetics-logo-removebg-preview.png?updatedAt=1682602649198"
            alt="">
        <h5 class="product-list-text">Makeup</h5>
    </div>
</div>