<div class="nav-bar">
    <div class="nav-bar-menu">
        <i class='bx bx-menu bx-sm'></i>
    </div>
    <div class="nav-bar-logo">
        <h2 [routerLink]="['/']">LOGO</h2>
    </div>
    <div class="nav-bar-cart">
        <i class='bx bx-cart bx-sm'></i>
    </div>
</div>

<div class="header" href="">
    <h2 class="collection-header">New collection <br> Spring 2023</h2>
    <a href="#product-list-container" style="color:black;">
        <i class='bx bxs-chevron-down-circle bx-lg'></i>
    </a>
</div>

<div class="lang-img-container">
    <img class="land-img"
        src="https://ik.imagekit.io/bprw8mk45/products/Screen_Shot_2022-06-01_at_1.04.22_AM_lU5uC-XyW.png?ik-sdk-version=javascript-1.4.3&updatedAt=1654017473198"
        alt="">
</div>

<div class="btn-container">
    <h3 class="btn">Acessories</h3>
    <h3 class="btn">Bags</h3>
    <h3 class="btn">Clothes</h3>
    <h3 class="btn">Makeup</h3>
</div>

<div class="product-list-container" id="product-list-container">
    <div class="product-list" [routerLink]="['acessories']">
            <img class="product-alt-img"
            src="https://ik.imagekit.io/ms08rtwspk/NestJs___Angular/asessories-logo-removebg-preview.png?updatedAt=1682602807388"
            alt="">
        <h5 class="product-list-text">Acessories</h5>
        <!-- <img src="https://ik.imagekit.io/ms08rtwspk/NestJs___Angular/bag-logo-removebg-preview.png?updatedAt=1682600684073" alt=""> -->
        </div>
    <div class="product-list" [routerLink]="['bags']">
        <img class="product-min-img"
            src="https://ik.imagekit.io/ms08rtwspk/NestJs___Angular/bag-logo-removebg-preview_1_.png?updatedAt=1682600684184"
            alt="">
        <h5 class="product-list-text">Bags</h5>
    </div>
    <div class="product-list" [routerLink]="['clothes']">
        <img class="product-alt-img"
            src="https://ik.imagekit.io/ms08rtwspk/NestJs___Angular/dress-logo-removebg-preview.png?updatedAt=1682600674937"
            alt="">
        <h5 class="product-list-text">Clothes</h5>
    </div>
    <div class="product-list"[routerLink]="['makeup']">
        <img class="product-min-img"
            src="https://ik.imagekit.io/ms08rtwspk/NestJs___Angular/cosmetics-logo-removebg-preview.png?updatedAt=1682602649198"
            alt="">
        <h5 class="product-list-text">Makeup</h5>
    </div>
</div>